{% extends "home/base.html" %}
{% load i18n %}

{% block main_content %}
<div class="post">
<div class="entry">
<table border="0" width="100%">
  <tbody>

    <tr>
      <!--	<td  width="20%">
{% if item.image %}
<p style="text-align: center;">
<img src="{{ item.image.url }}" alt="">
</p>
{% endif %}
	  </td> -->
      <td>
      <p>
 <b>{{ item.title }}</b>
<br />
{{item.investigator}}
<br />
{{item.institution}}
</p>
      </td>
    </tr>
  </tbody>
</table>


{% if item.about %}
<h2>About:</h2>
<p>
{{ item.about|safe }}
{% endif %}

{% if item.link%}
<br/>
External link: <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
</p>
{% endif %}
{% if item.image %}
<p>
<img src="{{ item.image.url }}" alt="">
{{ item.about_image }}
</p>
{% endif %}

{% if item.job%}
<p><b>
<a href="{{ item.job.url }}">Open position!</a>
</b></p>
{% endif %}

{% if item.recruitment%}
<p>
<a href="{{ item.recruitment }}">Click here if You want to participate in our study </a>
</p>
{% endif %}


</div>
</div>
{% endblock main_content %}
