{% extends "home/base.html" %}
{% load i18n %}

{% block main_content %}
<div class="post">
<h1 class="title">Research</h1>
<br />
<div class="entry">
<table border="0" width="100%">
  <tbody>

    <tr>
      <!--	<td  width="20%">
{% if item.image %}
<p style="text-align: center;">
<img src="{{ item.image.url }}" alt="">
</p>
{% endif %}
	  </td> -->
      <td>
      <p>
 <b>{{ item.title }}</b>
<br />
{{item.investigator}}
<br />
{{item.institution}}
</p>
      </td>
    </tr>
  </tbody>
</table>


{% if item.about %}
<h2>About:</h2>
<p>
{{ item.about|safe }}
{% endif %}
{% if item.web %}
<!--<iframe width="100%" name="Frame content" src="{{ item.web }}" onload="this.height=screen.height;"></iframe>-->
<iframe src="{{ item.web }}" frameborder="0" height="768" width="800"><!--Size is adjusted to page width-->
{% endif %}
{% if item.link%}
<br/>
External link: <a href="{{ item.link }}" target="_blank">{{ item.link }}</a>
</p>
{% endif %}
{% if item.image %}
<p>
<img src="{{ item.image.url }}" alt="">
{{ item.about_image }}
</p>
{% endif %}
</div>
</div>
{% endblock main_content %}
