{% extends "home/base.html" %}
{% load i18n %}

{% block main_content %}
<div class="post">
<h1 class="title">About Us</h1>
<br />
<!-- <p class="meta"><small>Posted on October 24th, 2013 by <a href="#">Someone</a></small></p> -->
<div class="entry">
<p>LOBI core facility is focused
on providing high quality brain imaging using multiple magnetic
resonance methods for research ranging from neuropsychology, through
clinical studies, till pharmacological studies. However, staff is
encouraged to lead their own or cooperate on research projects.
Currently, several non-invasive neuroimaging funded projects on various
topics realated to human cognition (e.g. attention, memory, reading,
deception, stress, empathy). are performed in cooperation with
Laboratory of Psychophysiology, Laboratory of Neuropsychology - Nencki
Institiute of Experimental Biology, Departement of Psychology
University of Warsaw, University of Social Sciences and Humanities
(Warsaw), Departement of Psychology - Jagiellonian University (Krakow),
Department of Psychology &ndash; Adam Mickiewicz University
(Poznan).
<br />
</p>
<p>Methods:<br />
&bull; Functional Magnetic Resonance Imaging (fMRI)<br />
&bull; Pattern Recognition and Multivariate methods for fMRI
analysis<br />
&bull; Voxel-Based Morphometry<br />
&bull; Voxel-based Lesion Symptom Mapping<br />
&bull; Resting-State fMRI<br />
&bull; Diffusion tensor imaging (DTI; up to 256 directions,
b&le;10 000s/mm2)<br />
&bull; Proton magnetic resonance spectroscopy (single voxel and
chemical shift imaging)<br />
&bull; Whole-brain chemical shift imaging*<br />
&bull; MEGA-PRESS (concentrations of neurotransmitters: GABA and
glutamate)*<br />
&bull; Perfusion (cerebral blood flow imaging)<br />
&bull; Angiography<br />
<br />
<br />
</p>
<h2>Equipment</h2>
<p><b>Scanner
3T Siemens TRIO equipped with:</b><br />
&bull; 32 channel head coil compatible with iPAT (32-Channel Head)<br />
&bull; 12 channel head coil compatible with iPAT (Head Matrix)<br />
&bull; Circular polarized transmit/receive coil for spectroscopy
(Tx/Rx CP Head)<br />
<br />
</p>
<p><b>Following
imaging methods are available:</b><br />
&bull; functional imaging (fMRI) based on BOLD contrast; hardware
and software for presentation of visual and auditory stimuli<br />
&bull; brain morphology assessment MRI perfusion weighed imaging
based on arterial spin labeling (ASL), cerebral blood flow (CBF),
cerebral blood volume (CBV), mean transit time (MTT), i time-to-peak
(TTP)<br />
&bull; diffusion tensor imaging (DTI) up to 256 directions,
b=&lt;10 000s/mm2 proton magnetic resonance spectroscopy
(single-voxel and CSI/), angiography<br />
<br />
</p>
<p><b>Additional
equipment:</b><br />
&bull; 64 channel EEG/fMRI system with electromyography (EMG),
galvanic skin response (GSR)<br />
&bull; Transcranial Magnetic Stimulation (TMS)<br />
<br />
<br />
</p>
</div>
</div>
{% endblock main_content %}
