<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<title>Laboratory of Brain Imaging</title>
  <link media="screen" type="text/css" rel="stylesheet" href="{% static 'styl.css' %}" />
  <link rel="shortcut icon" href="{% static 'images/lobi.ico' %}"/>
</head>
<body>

<!--<div id="logo">
<h1><a href="{{SERVER_URL}}/">LOBI</a></h1>
<h2>laboratory of brain imaging</h2>
</div>-->

<div id="header">
<a href="{{SERVER_URL}}/"><img src="{% static 'images/logo.jpg' %}" style="height: 144px; width: 300px"/></a>
<a href="http://en.nencki.edu.pl/"><img src="{% static 'images/nencki-logo_eng.png' %}" style="height: 144px; width: 439px; float: right;"/></a>
<div id="menu">
<ol>
  <li><a href="{{SERVER_URL}}/">Home</a>
	<ul>
  		<!--<li><a href="{{SERVER_URL}}/about_us">About us</a></li>-->
		<li><a href="{{SERVER_URL}}/equipment">Equipment</a></li>
		<li><a href="{{SERVER_URL}}/news">All news</a></li>
	</ul>
  </li>
  <li><a href="{{SERVER_URL}}/team">Team</a>
  <ul>
    <li><a href="{{SERVER_URL}}/join/">Join us!</a></li>
  </ul>
  </li>
  <li><a href="{{SERVER_URL}}/research">Research</a>
	<ul>
		<li><a href="{{SERVER_URL}}/research/neuroimaging/">Neuroimaging</a></li>
		<li><a href="{{SERVER_URL}}/research/behavioral/">Behavioral</a></li>
	</ul>
  </li>
  <li><a href="{{SERVER_URL}}/publications">Publications</a></li>
  <li><a href="{{SERVER_URL}}/meetings">Meetings</a>
	<ul>
		<li><a href="{{SERVER_URL}}/meetings/seminars/">Seminars</a></li>
		<li><a href="{{SERVER_URL}}/meetings/workshops/">Workshops</a></li>
	</ul>
  </li>
  <li><a href="{{SERVER_URL}}/public">Public</a>
  <ul>
    <li><a href="{{SERVER_URL}}/public/media/">Media</a></li>
    <li><a href="{{SERVER_URL}}/public/events/">Events</a></li>
  </ul>
  </li>
</ol>
</div>
</div>




<hr />
<div id="page">
<div id="content">
{% block main_content %}
{% endblock main_content %}
</div>
</div>

<div class="sidebar" id="sidebar1">

{% load event_tag %}
{% get_coming_event as meeting %}

  {% if meeting is not None %}
  <p>Coming soon:<br>
  <a href="{{SERVER_URL}}/meetings"><b>{{ meeting.title }} </b><br> {{ meeting.people }} <br>
  {{ meeting.starts }}{% if meeting.ends %} - {{ meeting.ends }}{% endif %}</a></p>
  {% endif %}

  {% load photos_tag %}
  {% get_random_photos %}

  <div style="display: flex; justify-content: space-between; margin-top: 15px; margin-bottom: 15px">
  <div><a href="https://pl-pl.facebook.com/lobi.nencki/"><img src="{% static 'images/fb_logo.png' %}" style="height: 60px; width: 60px"/></a></div>
  <div><a href="https://github.com/nencki-lobi"><img src="{% static 'images/GitHub-Mark-120px-plus.png' %}" style="height: 60px; width: 60px"/></a></div>
  <div><a href="{{SERVER_URL}}/team"><img src="{% static 'images/contact.png' %}" style="height: 60px; width: 60px"/></a></div>
  </div>

</div>

<div style="clear: both;">&nbsp;</div>
<hr /><!-- start footer -->
<div id="footer">
<p>Laboratory
of Brain Imaging - Neurobiology Center<br />
Polish Academy of Sciences
3 Pasteur Street, 02-093 Warsaw, Poland<br />
</p>
<p>&copy; 2013 All Rights
Reserved &nbsp;&bull;&nbsp; by <a href="{{SERVER_URL}}/">LOBI</a> <a href="{{SERVER_URL}}/team">Contact us</a></p>
</div>
<!-- end footer -->
</body>
</html>
