{% extends "home/base.html" %}
{% load i18n %}

{% block main_content %}
<div class="post">
<h1 class="title">UPCOMING events&courses</h1>
<!-- <p class="meta"><small>Posted on October 24th, 2013 by <a href="#">Someone</a></small></p> -->
<div class="entry">

{% for course in future_courses %}
<p>
<h2>
{% if course.bold %} <b> {% endif %}
{{ course.title }}</br>{% if course.old %} {{ course.starts }}{% if course.ends %} - {{ course.ends }}{% endif %}{% endif %}
{% if course.bold %} </b> {% endif %}
</h2>
{{ course.people }}</br></br>
{{ course.about|safe }}
</br>{% if course.link %}
<a href="{{course.link}}" target="_blank">More information</a>
{% endif %}
{% if course.image %}
<br/>
<img src="{{ course.image.url }}" alt="">
{% endif %}
</p>
{% endfor %}
</div>
<h1 class="title">PAST events&courses</h1>
<div class="entry">
{% for course in past_courses %}
<p>
<h2>
{% if course.bold %} <b> {% endif %}
{{ course.title }}</br>{% if course.old %} {{ course.starts }}{% if course.ends %} - {{ course.ends }}{% endif %}{% endif %}
{% if course.bold %} </b> {% endif %}
</h2>
{{ course.people }}</br></br>
<details>
<summary>Details</summary>
{{ course.about|safe }}
</br>{% if course.link %}
<a href="{{course.link}}" target="_blank">More information</a>
{% endif %}
{% if course.image %}
<br/>
<img src="{{ course.image.url }}" alt="">
{% endif %}
</p>
</details>
{% endfor %}

</div>
</div>
{% endblock main_content %}
