{% extends "home/base.html" %}
{% load i18n %}
{% load static %}

{% block main_content %}
<div class="post">
<h1 class="title">methods</h1>
<br />
<!-- <p class="meta"><small>Posted on October 24th, 2013 by <a href="#">Someone</a></small></p> -->
<div class="entry">
<p>
Our research is performed with the use of non-invasive neuroimaging methods – functional (fMRI)
and structural (sMRI) magnetic resonance imaging as well as electroencephalography (EEG). We
study brain function based on fluctuations in BOLD signal, event-related potentials (ERP) and
oscillatory brain activity (FFT). Neuroanatomical studies are performer with the use of voxel (VBM)
and surface (SBM) based morphometry as well as diffusion tensor imaging (DTI). To study the
concentration of neurotransmitters non-invasively we employ magnetic resonance MEGA-PRESS
spectroscopy.
</p>
<p><b>Equipment:</b></p>
<p>
Laboratory of Language Neurobiology is equipped with an eyetracker (Tobii TX300) designed to carry
out specialized research in the field of reading habits among typical and atypical redears. (For more
information about experiments conducted with an eyetracker see:
<a href="{{SERVER_URL}}/projects">projects</a>.)
</p>
<table border="0" width="100%">
  <tbody>
		<tr>
			<td style="width: 50%">
			<img src="{% static 'images/equipment/rIMG_8244.jpg'%}" alt="skaner"/>
			3T Siemens Magnetom MRI Scanner
			</td>
			<td>
			<img src="{% static 'images/equipment/reeg.jpg'%}" alt="eeg"/>
			64 channel EEG system
			</td>
		</tr>
		<tr>
			<td style="width: 50%">
			<img src="{% static 'images/equipment/rmock.jpg'%}" alt="mock"/>
			0T MRI simulator (mock scanner)
			</td>
			<td>
			<img src="{% static 'images/equipment/rMRroom.jpg'%}" alt="console"/>
			MRI console
			</td>
		</tr>
  </tbody>
</table>
<br/>
</p>
</div>
</div>
{% endblock main_content %}
