{% extends "home/base.html" %}
{% load i18n %}

{% block main_content %}
<div class="post">
<h1 class="title">equipment</h1>
<br />
<!-- <p class="meta"><small>Posted on October 24th, 2013 by <a href="#">Someone</a></small></p> -->
<div class="entry">
<p><b>Scanner
3T Siemens TRIO equipped with:</b><br />
&bull; 32 channel head coil compatible with iPAT (32-Channel Head)<br />
&bull; 12 channel head coil compatible with iPAT (Head Matrix)<br />
&bull; Circular polarized transmit/receive coil for spectroscopy
(Tx/Rx CP Head)<br />
<br />
</p>
<p><b>Following
imaging methods are available:</b><br />
&bull; functional imaging (fMRI) based on BOLD contrast; hardware
and software for presentation of visual and auditory stimuli<br />
&bull; brain morphology assessment MRI perfusion weighed imaging
based on arterial spin labeling (ASL), cerebral blood flow (CBF),
cerebral blood volume (CBV), mean transit time (MTT), i time-to-peak
(TTP)<br />
&bull; diffusion tensor imaging (DTI) up to 256 directions,
b=&lt;10 000s/mm2 proton magnetic resonance spectroscopy
(single-voxel and CSI/), angiography<br />
<br />
</p>
<p><b>Methods:</b><br/>
&bull; Functional Magnetic Resonance Imaging (fMRI)<br />
&bull; Pattern Recognition and Multivariate methods for fMRI analysis<br />
&bull; Voxel-Based Morphometry<br />
&bull; Voxel-based Lesion Symptom Mapping<br />
&bull; Resting-State fMRI<br />
&bull; Diffusion tensor imaging (DTI; up to 256 directions, b≤10 000s/mm2)<br />
&bull; Proton magnetic resonance spectroscopy (single voxel and chemical shift imaging)<br />
&bull; Whole-brain chemical shift imaging*<br />
&bull; MEGA-PRESS (concentrations of neurotransmitters: GABA and glutamate)<br />
&bull; Perfusion (cerebral blood flow imaging)<br />
&bull; Angiography<br />
<br/></p>
<p><b>Additional
equipment:</b><br />
&bull; 64 channel EEG Brain Product system compatible with MRI scanner with electromyography (EMG) module and galvanic skin response (GSR) – <a href="http://www.brainproducts.com/products_by_type.php?tid=1">more information about our system.</a><br />
&bull; Transcranial Magnetic Stimulation (TMS) <a href="http://www.magventure.com/">MagVenture</a> system<br />
&bull; <a href="http://www.rogue-resolutions.com/system/brainsight-tms-navigation/">Brainsight TMS</a> Navigation for MRI-based TMS Neuronavigation<br />
<br />
&bull; MRI Simulator (also known as mock scanner).<br />
<br />
<table border="0" width="100%">
  <tbody>
		<tr>
			<td style="width: 50%">
			<img src="{{STATIC_URL}}images/equipment/rIMG_8244.jpg" alt="skaner"/>
			3T Siemens Magnetom MRI Scanner
			</td>
			<td>
			<img src="{{STATIC_URL}}images/equipment/reeg.jpg" alt="eeg"/>
			64 channel EEG system
			</td>
		</tr>
		<tr>
			<td style="width: 50%">
			<img src="{{STATIC_URL}}images/equipment/rmock.jpg" alt="mock"/>
			0T MRI simulator (mock scanner)
			</td>
			<td>
			<img src="{{STATIC_URL}}images/equipment/rMRroom.jpg" alt="console"/>
			MRI console
			</td>
		</tr>
  </tbody>
</table>
<br/>
</p>
</div>
</div>
{% endblock main_content %}
