{% extends "home/base.html" %}
{% load i18n %}
{% load static %}
{% block main_content %}
<div class="post">
<!--<h1 class="title">Home</h1>
<br />-->
<div class="entry">
<p>Laboratory of Brain Imaging is one of the core facilities in the Neurobiology Centre, <a href="http://en.nencki.gov.pl/neurobiology-center">Nencki Institute of Experimental Biology, Polish Academy of Sciences</a>. LOBI provides access to cutting edge research support and technologies for internal and external customers. The core technologies being developed and used at the center are magnetic resonance imaging (MRI), spectroscopy (MRS), electroencephalograpy (EEG - including EEG-fMRI simultaneous recordings), Transcranial Magnetic Stimulation (TMS) and computational image analysis.</br>

<a href="{{SERVER_URL}}/equipment">Find out more about LOBI equipment and methods</a></br>

<!--Currently, several non-invasive neuroimaging funded projects on various topics related to human cognition (e.g. attention, memory, language, brain plasticity, deception, stress, empathy) are performed in cooperation with Laboratory of Psychophysiology, Laboratory of Neuropsychology - Nencki Institiute of Experimental Biology, Department of Psychology and Faculty of Polish Studies (Section for Sign Linguistics) - University of Warsaw, University of Social Sciences and Humanities (Warsaw), Department of Psychology - Jagiellonian University (Krakow), Department of Psychology – Adam Mickiewicz University (Poznan) and Department of Kinesiology, Faculty of Physiotherapy, University School of Physical Education in Wroclaw.</br>-->

<h2><a href="{{SERVER_URL}}/research">Click here to read about the ongoing projects</a></br></h2>
<!--	<a href="{{SERVER_URL}}/about_us">More</a>	-->
</p>

<h2>Latest news</h2>
</br>
<table border="0" width="100%">
  <tbody>
	{% for item in news %}
    <tr>
      <td style="width: 20%">
		{% if item.image %}
		<img src="{{ item.image.url }}" alt="">
		{% endif %}
	  </td>
      <td>
      <p>
		<h3>
		{{ item.title }}
		</h3>
		{{ item.content|safe }}

		</p>
      </td>
	</tr>
	{% endfor %}
  </tbody>
</table>
<a href="{{SERVER_URL}}/news">All news</a>

<h2>UPCOMING Events&Courses</h2>
<table border="0" width="100%">
  <tbody>
	{% for course in courses %}
		<tr>
			<td style="width: 20%">
			{% if course.upcoming %}
			<!--<h2>UPCOMING EVENT</h2>-->
			<img src="{% static 'images/event.png' %}" border="0">
			{% endif %}
			</td>
			<td><p><a href="{{SERVER_URL}}/courses">
			<h3>{{ course.title }}</h3> {{ course.starts }}{% if course.ends %} - {{ course.ends }}{% endif %}
			</a></p></td>
		</tr>
		{% endfor %}
  </tbody>
</table>
<a href="{{SERVER_URL}}/courses">More about events&courses</a>

<!--
			{% if course.starts < item.date %}

			{% endif %}

<h2>Events&Courses</h2>
</br>
<table border="0" width="100%">
  <tbody>
	{% for course in courses %}
	{{ course.title }}</br>{{ course.starts }}{% if course.ends %} - {{ course.ends }}{% endif %}
	{% endfor %}
  </tbody>
</table>
</br><a href="{{SERVER_URL}}/courses">More about events&courses</a>
-->

</div>
</div>
{% endblock main_content %}
