{% extends "home/base.html" %}
{% load i18n %}
{% load static %}
{% load home_extras %}
{% block main_content %}
<div class="post">
<!--<h1 class="title">Home</h1>
<br />-->
<div class="entry">

<p>
Research activities of our laboratory are focused on the neurobiological basis of language skills in
typical and atypical development. We are particularly interested in the mechanisms of typical and
atypical literacy acquisition in children. Our investigations involve characterizing the predictors of
developmental disorders, particularly language-based learning disabilities as well as testing different
evidence-based interventions. Additionally we aim to uncover a universal brain organization for
spoken and written language independent of orthography (contrasting orthographies differing in
phoneme-grapheme transparency) or sensory modality (contrasting visual reading in sighted and
tactile reading in blind). We also strive to understand the long-term consequences of late language
emergence in children at both behavioral and neural level.
</p>
<p>
Another line of research refers to the issue of the relationship between consciousness/self-
consciousness and language. We aimed at investigating whether conscious and unconscious
processing of verbal information (in comparison to non-verbal information) is prioritized if such
information is self-relevant.
</br>
&#9658; <a href="{{SERVER_URL}}/equipment">Find out more about LOLN equipment and methods</a><br>

&#9658; <b><a href="{{SERVER_URL}}/research">Click here to read about the ongoing projects</a></b><br>

&#9658; <a href="{{SERVER_URL}}/join">Join Us</a><br>
</p>

<h2>Latest news</h2>
<br>
<table border="0" width="100%">
  <tbody>
	{% for item in news %}
    <tr>
      <td style="width: 20%">
		{% if item.image %}
		<img src="{{ item.image.url }}" alt="">
		{% endif %}
	  </td>
      <td>
		<h3>
		{{ item.title }}
		</h3>
    <p>
		{{ item.content|dropptag|safe}}

		</p>
      </td>
	</tr>
	{% endfor %}
  </tbody>
</table>
<a href="{{SERVER_URL}}/news">All news</a>

<!-- courses moved to sidebar

<h2>UPCOMING Events&Courses</h2>
<table border="0" width="100%">
  <tbody>
	{% for course in courses %}
  {% if forloop.first %}
		<tr>
			<td style="width: 20%">
			{% if course.upcoming %}
			<img src="{% static 'images/event.png' %}" border="0">
			{% endif %}
			</td>
			<td><p><a href="{{SERVER_URL}}/courses">
			<h3>{{ course.title }}</h3> {{ course.starts }}{% if course.ends %} - {{ course.ends }}{% endif %}
			</a></p></td>
		</tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
<a href="{{SERVER_URL}}/courses">More about events&courses</a>

-->

</div>
</div>
{% endblock main_content %}
