{% extends "home/base.html" %}
{% load i18n %}
{% load static %}
{% block main_content %}
<div class="post">
<!--<h1 class="title">Home</h1>
<br />-->
<div class="entry">
<p>Laboratory of Brain Imaging is a core facility at 
  <a href="http://en.nencki.edu.pl/">Nencki Institute</a>.
  LOBI provides access to cutting edge research support and technologies for internal and external customers. The core technologies being developed and used at the Laboratory are magnetic resonance imaging (MRI), spectroscopy (MRS), electroencephalograpy (EEG - including EEG-fMRI simultaneous recordings), Transcranial Magnetic Stimulation (TMS) and computational image analysis.<br>

&#9658; <a href="{{SERVER_URL}}/equipment">Find out more about LOBI equipment and methods</a><br>

&#9658; <b><a href="{{SERVER_URL}}/research">Click here to read about the ongoing projects</a></b><br>

&#9658; <a href="{{SERVER_URL}}/join">Join Us</a><br>

<h2>Latest news</h2>
</br>
<table border="0" width="100%">
  <tbody>
	{% for item in news %}
    <tr>
      <td style="width: 20%">
		{% if item.image %}
		<img src="{{ item.image.url }}" alt="">
		{% endif %}
	  </td>
      <td>
      <p>
		<h3>
		{{ item.title }}
		</h3>
		{{ item.content|safe }}

		</p>
      </td>
	</tr>
	{% endfor %}
  </tbody>
</table>
<a href="{{SERVER_URL}}/news">All news</a>

<!-- courses moved to sidebar

<h2>UPCOMING Events&Courses</h2>
<table border="0" width="100%">
  <tbody>
	{% for course in courses %}
  {% if forloop.first %}
		<tr>
			<td style="width: 20%">
			{% if course.upcoming %}
			<img src="{% static 'images/event.png' %}" border="0">
			{% endif %}
			</td>
			<td><p><a href="{{SERVER_URL}}/courses">
			<h3>{{ course.title }}</h3> {{ course.starts }}{% if course.ends %} - {{ course.ends }}{% endif %}
			</a></p></td>
		</tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
<a href="{{SERVER_URL}}/courses">More about events&courses</a>

-->

</div>
</div>
{% endblock main_content %}
