{% extends "home/base.html" %}
{% load i18n %}

{% block main_content %}
<div class="post">
<h1 class="title">magnetic resonance user club</h1>
<br />
<div class="entry">

<p>Magnetic Resonance User Club was founded in order to support the activities of the Laboratory of Brain Imaging. The MR User Club also promotes the magnetic resonance techniques among the scientists working at the Nencki Institute and in external scientific and academic institutions.</p>
<p>Specifically, the activities include:</p>
<p>&bull; Seminars presenting MR methods and their applications in brain research</p>
<p>&bull; Workshops aimed at practical acquisition of the skills required to&nbsp;&nbsp; design and perform MRI studies and to analyze a wide spectrum of neuroimaging data</p>
<p>&bull; Seminars presenting the results of studies performed by the members of the MR User Club</p>
<p>&bull; Short presentations of projects</p>
<p>&bull; Discussions regarding current problems with the scanner usage</p>
<p>Membership is open to all scientists and doctoral students working at the Nencki Institute (Internal Members) as well as scientists, doctoral students and students from other external scientific, academic and clinical institutions (External Members) interested in the MR User Club activities.</p>
<p>To apply for membership please contact: <a title="mailto:MrUserClub@nencki.gov.pl" href="mailto:MrUserClub@nencki.gov.pl" target="_blank">MrUserClub@nencki.gov.pl</a></p>
<p>The Members of the MR User Club will be informed by e-mail about the incoming events and activities</p>

<h2> Selected meetings </h2>

{% for course in courses %}
<p>
<h3>
{% if course.bold %} <b> {% endif %}
{{ course.title }}</br>{% if course.old %} {{ course.starts }}{% if course.ends %} - {{ course.ends }}{% endif %}{% endif %}
{% if course.bold %} </b> {% endif %}
</h3>
{{ course.people }} </br></br>
{{ course.about|safe }}
</br>{% if course.link %}
<a href="{{course.link}}" target="_blank">More information</a>
{% endif %}
{% if course.image %}
<br/>
<img src="{{ course.image.url }}" alt="">
{% endif %}
</p>
{% endfor %}
</div>
</div>
{% endblock main_content %}
