{% extends "home/base.html" %}
{% load i18n %}

{% block main_content %}
<div class="post">
<h1 class="title">news</h1>
<br />
<!-- <p class="meta"><small>Posted on October 24th, 2013 by <a href="#">Someone</a></small></p> -->
<div class="entry">
<table border="0" width="100%">
  <tbody>
	{% for item in news %}
    <tr>
      <td style="width: 20%">
		{% if item.image %}
		<img src="{{ item.image.url }}" alt="">
		{% endif %}
	  </td>
      <td>
      <p>
		<h3>
		{{ item.title }}
		</h3>
		{{ item.content|safe }}

		</p>
      </td>
    </tr>
	{% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock main_content %}
