{% extends "home/base.html" %}
{% load i18n %}
{% load static %}

{% block main_content %}
<div class="post">
<div class="entry">
<table border="0" width="100%">
  <tbody>
    <tr>
      <td style="width: 20%">
{% if user.profile.image %}
<img src="{{ user.profile.image.url }}" border="0">
{% else %}
<img src="{% static 'images/foto-puste.gif'%}" border="0">
{% endif %}
	  </td>
      <td>
      <p><b>
{{ user.first_name }} {{ user.last_name }}{% if user.profile.degree %}, {{user.profile.degree}}{% endif %}
</b>
{% if user.profile.position %}
<br/>{{user.profile.position}}
{% endif %}
<br />
{% if user.profile.spoiler %}
<img src="{{ user.profile.spoiler.url }}" class="spoiler" alt="">
{% else %}
<a href="mailto:{{ user.email }}">{{ user.email }}</a>
{% endif %}
{% if user.profile.phone %}
<br/>{{ user.profile.phone }}
{% endif %}
</p>
      </td>
    </tr>
  </tbody>
</table>

{% if user.profile.about %}
<h2>About me:</h2>
<p>
{{ user.profile.about|safe }}
</p>
{% endif %}

{% if show_social %}
<h2>Online:</h2>
<p></p>
  {% if user.profile.orcid %}
  <div itemscope itemtype="https://schema.org/Person">
    <a itemprop="sameAs" content="https://orcid.org/{{ user.profile.orcid }}" href="https://orcid.org/{{ user.profile.orcid }}" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;">
      <img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">
      https://orcid.org/{{ user.profile.orcid }}</a>
  </div>
  {% endif %}

  {% if user.profile.github %}
  <div>
    <a href="https://github.com/{{ user.profile.github }}/">
      <img src="{% static 'images/GitHub-Mark-32px.png' %}", height="16", width="16", style="width:1em;margin-right:.5em;", alt="GitHub mark">
      github.com/{{user.profile.github}}
    </a>
  </div>
  {% endif %}

  {% if user.profile.scholar %}
  <div>
    <a href="https://scholar.google.com/citations?user={{ user.profile.scholar }}">
      <img src="{% static 'images/Google-Scholar-Icon.png' %}", height="16", width="16", style="width:1em;margin-right:.5em;", alt="Google Scholar icon">
      Google Scholar
    </a>
  </div>
  {% endif %}

  {% if user.profile.researchgate %}
  <div>
    <a href="https://www.researchgate.net/profile/{{ user.profile.researchgate }}">
      <img src="{% static 'images/ResearchGate-Icon.png' %}", , height="16", width="16", style="width:1em;margin-right:.5em;", alt="ResearchGate icon">
      ResearchGate
    </a>
  </div>
  {% endif %}

{% endif %}

{% if user.profile.research %}
<h2>Research interests:</h2>
<p>
{{ user.profile.research|safe }}
</p>
{% endif %}

{% if user.profile.publications %}
<h2>Selected publications:</h2>
<p>
{{ user.profile.publications|safe }}
</p>
{% endif %}

{% if user.profile.funding %}
<h2>Funding:</h2>
<p>
{{ user.profile.funding|safe }}
</p>
{% endif %}

{% if user.profile.my_dish %}
<p>
Speciality from my kitchen: {{ user.profile.my_dish }}
</p>
{% endif %}

</div>
</div>
{% endblock main_content %}
