{% extends "home/base.html" %}
{% load i18n %}

{% block main_content %}
<div class="post">
<h1 class="title">Publications</h1>
<br />
<div class="entry">

{% if preparation %}
<h2>Publications under review:</h2>
{% for publication in preparation %}
	<p>{{ publication.authors }} 
	{% if publication.link %}
		<a href="{{publication.link}}" target="_blank">{{ publication.title }}</a>
	{% else %}
		{{ publication.title }}
	{% endif %}
	{% if publication.about %}
		<br>
		{{publication.about|safe}}
	{% endif %}
	{% if publication.image %}
		<br>
		<img src="{{ publication.image.url }}" alt="">
	{% endif %}
	</p>
	<hr/>
{% endfor %}
<h2>Publications:</h2>
{% endif %}

{% regroup publications by published|date:"Y" as pubs_by_year %}
{% for pubs_year in pubs_by_year %}
<h2>{{ pubs_year.grouper }}</h2>

{% for publication in pubs_year.list %}
	<p>{{ publication.authors|safe }} 
	{% if publication.link %}
		<a href="{{publication.link}}" target="_blank">{{ publication.title }}</a>
	{% else %}
		{{ publication.title }}
	{% endif %}
	{% if publication.about %}
		<br>
		{{publication.about|safe}}
	{% endif %}
	{% if publication.image %}
		<br>
		<img src="{{ publication.image.url }}" alt="">
	{% endif %}
	</p>
	<hr/>
{% endfor %}
{% endfor %}
</div>
</div>
{% endblock main_content %}
