img {
  height: auto;
  max-width: 100%;
  width: auto;
}

.spoiler {
  max-width: 30%;
}

table {
  table-layout: fixed;
}

th, td {
  padding: 10px;
}

* {
	margin: 0;
	padding: 0;
}

body, th, td, input, textarea {
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}


h1, h2, h3 {
	margin-top: 1.5em;
	color: #F33900;
}

h1 {
	letter-spacing: -.075em;
	font-size: 3em;
}

h2 {
	letter-spacing: -.05em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	color: #F33900;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 1.8em;
	font-size: 1.1em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	color: #C04924;
}

a:hover {
	border: none;
}

h1 a, h2 a, h3 a {
	border: none;
	text-decoration: none;
	color: #F33900;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	background: none;
	color: #F33900;
}

hr {
	display: none;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 900px;
	margin: 0 auto;
}

#menu {
	height: 47px;
	width: 900px;
}

      /* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */

      /* wygląd głównego elementu - ol */
      #menu ol {
        list-style-type:none;
        padding:0;
        margin:0;
        background-color:#FFF;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;
      }

      /* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
      #menu ol a {
        display:block;
        text-decoration:none;
        padding:0 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #FFFFFF;
		border-left: #58032F 1px solid;
      }

      /* wygląd ostatniego elementu - a */
      #menu ol > li:last-child > a {
        border-right:#58032F 1px solid;
      }


      /* wygląd elementów - li - wszystkich dzieci elementu - ol */
      #menu ol > li {
        float:left;
        width:150px;
        background-color:#f33900;
        height:2em;

      }

      /* wygląd elementu - li - pierwszego dziecka elementu - ol */
      #menu ol:first-child {
        margin-left:0;
      }

      /* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
      #menu ol > li:hover {
        background-color: #B82D03
      }

      /* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      #menu ol > li:hover > a {
        color:#FFFFFF;
      }

      /* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
      #menu ol > li:hover > ul {
        display:block;
      }

      /* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

      /* wygląd głównych rozwijanych elementów - ul */
      #menu ol > li > ul {
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
      }

      /* wygląd elementu - li - w części rozwijanej */
      #menu ol > li > ul > li {
        position:relative;
        background-color:#EEE;
      }

      /* wygląd elementu - a - w części rozwijanej */
      #menu ol > li > ul > li > a {
        border-top:#58032F 1px solid;
		border-left: #58032F 1px solid;
		color:#000;
		border-right: #58032F 1px solid;
      }

      /* wygląd ostatniego elementu - a - w części rozwijanej */
      #menu ol > li > ul > li:last-child > a {
        border-bottom:#58032F 1px solid;
      }

      /* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
      #menu ol > li > ul > li:hover {
        background-color:#DDD;
      }

      /* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
      #menu ol > li > ul > li:hover > a {
        color:#000;
      }


/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding-top: 30px;
	background: #FFFFFF;
	border-top: none;
}

/* Content */

#content {
	float: left;
	width: 620px;
}

.post {
}

.post .title {
	margin: 0;
	font-weight: normal;
}

.post h1.title {
	padding: 25px 0  0 15px;
	height: 40px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: lowercase;
}

.post .entry {
	padding: 0 25px 30px 15px;
}

.post .meta {
	margin: 0;
	padding: 0px 0px 0px 15px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CFCFCF;
}

.post .meta a {
	color: #C04924;
}

.post .links {
	margin: 0;
	padding: 0px 0px 15px 15px;
}

.post .tags {
	margin: 0;
	background: #F2F2F2;
	padding: 5px 10px 5px 15px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.post .links a, .post .tags a {
	border: none;
}


/* Sidebars */

.sidebar {
	float: left;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	margin-bottom: 2em;
}

.sidebar li ul {
}

.sidebar li li {
	margin: 0;
}

.sidebar li h2 {
	margin: 0 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #F33900;
}

#sidebar1 {
	width: 240px;
	padding: 0px 20px 0px 20px;
	background: #F2F2F2;
}

#sidebar2 {
	width: 180px;
	padding: 0px 20px 0px 20px;
}

#sidebar2 li h2 {
	margin: 0 0 1em 0;
	padding: 15px 0  0 0px;
	height: 20px;
}

#sidebar2 li ul {
	line-height: normal;
}

#sidebar2 li li {
	padding: 5px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#sidebar2 li a {
	background: url(images/img04.gif) no-repeat left 50%;
	border: none;
	padding-left: 10px;
	text-transform: uppercase;
}

#sidebar2 li a:hover {
	border: none;
	padding-left: 10px;
}


/* Footer */

#footer {
	background: #000000;
	height: 120px;
	padding-top: 20px;
}

#footer p {
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	background: #F33900;
	padding: 2px 7px;
	color: #FFFFFF;
}
